Repository Kocal/symfony-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, eslint --fix, prettier --write

Install and configure php-translation Symfony Bundle
  composer.json
  composer.lock
  config/bundles.php
  config/packages/dev/php_translation.yaml
  config/packages/prod/php_translation.yaml
  config/routes/dev/php_translation.yaml
  config/services.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Add a translation and add a Cypress test to be sure that is not translated
  cypress/integration/home.spec.js
  cypress/plugins/index.js
  package.json
  templates/home/index.html.twig
  translations/messages.fr.xlf
Due: eslint --fix, prettier --write

Configure browserlist
  package.json
Due: prettier --write

Use MailHog as mailer
  .env
Due: none

Install Stylelint
  .stylelintrc
  assets/app/index.js
  assets/app/styles/index.scss
  assets/pages/home/index.js
  assets/pages/home/index.sass
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Install Behat
  .gitignore
  behat.yml.dist
  composer.json
  composer.lock
  features/bootstrap/FeatureContext.php
  features/bootstrap/bootstrap.php
  features/demo.feature
  phpstan.neon
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Webpack Encore: prefer to configure Babel with an external file
  .babelrc
  webpack.config.js
Due: none

Install Jest
  jest.config.js
  jest/app/components/Button.test.js
  jest/app/components/__snapshots__/Button.test.js.snap
  package.json
  yarn.lock
Due: prettier --write

Add README
  README.md
  README_APP.md
Due: prettier --write

Disable PostgreSQL by default
  .env
  .env.test
  README.md
  ansible/ansible.yml
  ansible/app.yml
  ansible/group_vars/app.yml
Due: prettier --write

Configure Travis
  .travis.yml
Due: prettier --write

Travis: use stages and jobs
  .travis.yml
Due: prettier --write

Well, let's commit bin/console
  .gitignore
  bin/console
Due: none

Enable WebServerBundle in test env
  config/bundles.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress

Travis: only run Cypress in a parallel stage
  .gitignore
  .travis.yml
Due: prettier --write

Disable translation in test env
  config/packages/test/framework.yaml
Due: prettier --write

chore(ci): ensure that Behat and Cypress does not run in parallel
  .travis.yml
Due: prettier --write

Install Sentry (PHP)
  .env
  composer.json
  composer.lock
  config/bundles.php
  config/packages/prod/sentry.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Install Sentry (JS)
  assets/app/index.js
  assets/app/sentry.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Cypress: add commands "bootstrapApp", "reloadDatabase" and "execVagrant"
  cypress/integration/home.spec.js
  cypress/support/commands.js
Due: eslint --fix

Create User entity and configure users encoder/provider
  config/packages/security.yaml
  src/Entity/User.php
  src/Repository/UserRepository.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Install LexikJWTBundle
  composer.json
  composer.lock
  config/bundles.php
  config/jwt/private.pem
  config/jwt/public.pem
  config/packages/lexik_jwt_authentication.yaml
  config/packages/security.yaml
  config/packages/test/security.yaml
  config/routes.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Install AliceFixturesBundle, create fixtures for user
  Makefile
  composer.json
  composer.lock
  config/bundles.php
  config/packages/dev/hautelook_alice.yaml
  config/packages/dev/nelmio_alice.yaml
  config/packages/test/hautelook_alice.yaml
  config/packages/test/nelmio_alice.yaml
  config/services.yaml
  src/Fixtures/Faker/Provider/PasswordProvider.php
  src/Fixtures/user.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Install StofDoctrineExtensionsBundle, make User timestampable
  composer.json
  composer.lock
  config/bundles.php
  config/packages/stof_doctrine_extensions.yaml
  src/Entity/User.php
  src/Fixtures/user.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

List users on the home page and add Cypress tests
  Makefile
  src/Controller/HomeController.php
  templates/home/index.html.twig
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress

README
  README.md
Due: prettier --write

Travis: use the good DATABASE_SERVER_VERSION value
  .travis.yml
  Makefile
Due: prettier --write

Cypress: fix viewport width
  cypress.json
Due: prettier --write

..
  .travis.yml
  Makefile
Due: prettier --write

Add Form Authenticator
  config/packages/security.yaml
  src/Controller/SecurityController.php
  src/Security/FormAuthenticator.php
  templates/security/login.html.twig
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Install API Platform, make User an API Resource
  composer.json
  composer.lock
  config/bundles.php
  config/packages/api_platform.yaml
  config/packages/nelmio_cors.yaml
  config/routes/api_platform.yaml
  src/Entity/User.php
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Remove LexikJWTAuthentificationBundle
  composer.json
  composer.lock
  config/bundles.php
  config/jwt/private.pem
  config/jwt/public.pem
  config/packages/lexik_jwt_authentication.yaml
  config/packages/security.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Add api key and API Key Authenticator
  config/packages/security.yaml
  src/Controller/Api/SecurityController.php
  src/Entity/User.php
  src/Security/ApiKeyAuthenticator.php
  templates/base.html.twig
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

PHPUnit: finally make deprecations not failing PHPUnit
  phpunit.xml.dist
Due: none

User: exclude "password" and "salt" from serialization
  src/Entity/User.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress

Install SncRedisBundle, configure session to use Redis
  .env
  composer.json
  composer.lock
  config/bundles.php
  config/packages/framework.yaml
  config/packages/snc_redis.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Router: set request format to json for API Controllers
  config/routes/annotations.yaml
Due: prettier --write

Container: exclude events from container
  config/services.yaml
Due: prettier --write

Behat: add Mink/Behatch, add tests for Auth and API Auth
  behat.yml.dist
  composer.json
  composer.lock
  features/api/auth/login.feature
  features/auth/login.feature
  features/bootstrap/ExtendedBehatchRestContext.php
  features/bootstrap/FeatureContext.php
  features/demo.feature
  src/Fixtures/user.yaml
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Update README
  README.md
Due: prettier --write

Path conditions:
  ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff: any of: *.php
  ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress: any of: *.php
  eslint --fix: any of: {assets,cypress}/**/*.{js,jsx,vue}
  prettier --write: any of: *.{json,yml,yaml,md}
