Repository Kocal/symfony-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, eslint --fix, prettier --write

feat: add Dependabot config file
  .dependabot/config.yml
Due: prettier --write

feat: add Dependabot config file (#141)
  .dependabot/config.yml
Due: prettier --write

Update config.yml
  .dependabot/config.yml
Due: prettier --write

ci: use bionic dist
  .travis.yml
Due: prettier --write

ci: use bionic dist (#143)
  .travis.yml
Due: prettier --write

Update Symfony 4.3.8
  composer.lock
  symfony.lock
Due: none

fix(deps): fix ocramius/proxy-manager to ~2.2.0
  composer.json
  composer.lock
Due: prettier --write

fix(controller): check $user
  src/Controller/Api/SecurityController.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

feat(phpstan) use inferPrivatePropertyTypeFromConstructor
  phpstan.neon
Due: none

Update Symfony 4.3.8 (#236)
  composer.json
  composer.lock
  phpstan.neon
  src/Controller/Api/SecurityController.php
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

Things for Travis and Cypress
  .travis.yml
  cypress.json
  tests/cypress/support/commands.js
Due: prettier --write

:)
  .travis.yml
  tests/cypress/support/commands.js
Due: prettier --write

try to fix db
  .travis.yml
Due: prettier --write

fix(ci): remove Cypress record flag
  .travis.yml
Due: prettier --write

fix(ci): remove postgre cmds
  .travis.yml
Due: prettier --write

fix: remove outdated config file
  config/packages/prod/sentry.yaml
Due: prettier --write

chore(phpstan): configure to analyze the whole project directory
  phpstan.neon
  tests/behat/auth/login.feature
  tests/behat/bootstrap/ExtendedBehatchRestContext.php
  tests/behat/json_request.feature
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

fix(make:init-db@integration): destroy database before
  Makefile
Due: none

fix doctrine schema validation issue by specifying the database_version
  .env
  Makefile
  config/packages/doctrine.yaml
  config/packages/test/doctrine.yaml
  symfony.lock
Due: prettier --write

Update phpunit.xml.dist
  phpunit.xml.dist
Due: none

chore: update js deps
  yarn.lock
Due: none

feat: drop fos-ts-router js deps for using typescript types from FoSJSRoutingBundle
  assets/app/utils/route.ts
  composer.json
  composer.lock
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(vue): move deps to Vue 3
  babel.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(vue): migrate components and mixins (to hooks)
  assets/app/components/AppButton.tsx
  assets/app/components/AppButton.vue
  assets/app/hooks/index.ts
  assets/app/hooks/useDate.ts
  assets/app/hooks/useRouter.ts
  assets/app/hooks/useTranslator.ts
  assets/app/mixins/DateMixin.ts
  assets/app/mixins/RoutingMixin.ts
  assets/app/mixins/Translatable.ts
  assets/controllers/.gitkeep
  assets/pages/home/App.vue
  assets/pages/home/index.ts
  assets/shims-tsx.d.ts
Due: eslint --fix

chore: add encore entries for homepage
  templates/home/index.html.twig
Due: none

chore(js:sentry): use @sentry/browser for Vue 3 browser
  assets/app/index.ts
  assets/app/sentry.ts
  assets/pages/home/index.ts
Due: none

chore: migrate tests
  assets/app/components/AppButton.vue
  tests/jest/app/components/AppButton.test.ts
  tests/jest/app/components/__snapshots__/AppButton.test.ts.snap
  tests/jest/app/components/__snapshots__/Button.test.ts.snap
Due: eslint --fix

chore(deps): update Symfony
  composer.lock
  vendor-bin/php-cs-fixer/composer.lock
  vendor-bin/phpspec/composer.lock
  vendor-bin/phpstan/composer.lock
Due: none

fix(types): fix vue shims
  assets/shims-vue.d.ts
Due: none

Migrate to Vue 3 (#487)
  assets/app/components/AppButton.tsx
  assets/app/components/AppButton.vue
  assets/app/hooks/index.ts
  assets/app/hooks/useDate.ts
  assets/app/hooks/useRouter.ts
  assets/app/hooks/useTranslator.ts
  assets/app/index.ts
  assets/app/mixins/DateMixin.ts
  assets/app/mixins/RoutingMixin.ts
  assets/app/mixins/Translatable.ts
  assets/app/sentry.ts
  assets/controllers/.gitkeep
  assets/pages/home/App.vue
  assets/pages/home/index.ts
  assets/shims-tsx.d.ts
  assets/shims-vue.d.ts
  babel.config.js
  composer.lock
  package.json
  templates/home/index.html.twig
  tests/jest/app/components/AppButton.test.ts
  tests/jest/app/components/__snapshots__/AppButton.test.ts.snap
  tests/jest/app/components/__snapshots__/Button.test.ts.snap
  tsconfig.json
  vendor-bin/php-cs-fixer/composer.lock
  vendor-bin/phpspec/composer.lock
  vendor-bin/phpstan/composer.lock
  yarn.lock
Due: eslint --fix, prettier --write

chore(tools): install rector
  vendor-bin/rector/composer.json
  vendor-bin/rector/composer.lock
Due: prettier --write

chore: configure Rector
  phpstan.neon
  rector.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

ci: add Rector
  .github/workflows/ci.yml
Due: prettier --write

chore: run Rector
  config/services.yaml
  src/EventSubscriber/JsonRequestDecoderEventSubscriber.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

chore: configure Rector for Doctrine and PHPUnit
  rector.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

chore: run rector
  src/Acme.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

Path conditions:
  ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff: any of: *.php
  ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress: any of: *.php
  eslint --fix: any of: {assets,cypress}/**/*.{js,jsx,vue}
  prettier --write: any of: *.{json,yml,yaml,md}
