Repository Kocal/symfony-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, eslint --fix, prettier --write

.lintstagedrc:

{
  "relative": true,
  "linters": {
    "*.php": [
      "./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff",
      "./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress",
      "git add"
    ],
    "{assets,cypress}/**/*.{js,jsx,vue}": [
      "eslint --fix",
      "git add"
    ],
    "*.{json,yml,yaml,md}": [
      "prettier --write",
      "git add"
    ]
  }
}

Cypress: update Home spec
  cypress/integration/home.spec.js
Due: eslint --fix

package.json: put dotenv as dev dependency
  package.json
Due: prettier --write

oups
  config/packages/prod/sentry.yaml
Due: prettier --write

Add DebugRequestController
  config/packages/security.yaml
  config/routes/annotations.yaml
  src/Controller/Debug/DebugRequestController.php
  templates/debug/request.html.twig
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Add JSON request decoder
  config/services.yaml
  features/json_request.feature
  src/EventListener/JsonRequestDecoderListener.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Move PHPUnit tests
  composer.json
  phpunit.xml.dist
  tests/functional/AcmeTest.php
  tests/phpunit/AcmeTest.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Move Behat tests
  behat.yml.dist
  composer.json
  tests/behat/api/auth/login.feature
  tests/behat/auth/login.feature
  tests/behat/bootstrap/ExtendedBehatchRestContext.php
  tests/behat/bootstrap/bootstrap.php
  tests/behat/json_request.feature
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Move PHPSpec tests
  phpspec.yml
  tests/phpspec/App/AcmeSpec.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Move Jest tests
  jest.config.js
  tests/jest/app/components/Button.test.js
  tests/jest/app/components/__snapshots__/Button.test.js.snap
Due: none

Move Cypress tests
  .gitignore
  cypress.json
  tests/cypress/fixtures/.gitkeep
  tests/cypress/integration/home.spec.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
  tests/cypress/support/index.js
Due: prettier --write

Lint Cypress/Jest test files
  package.json
  tests/jest/app/components/Button.test.js
Due: prettier --write

No Scrutinizer
  README.md
Due: prettier --write

chore(composer): drop packagist.com usage
  composer.json
  composer.lock
  symfony.lock
Due: prettier --write

Drop MariaDB for PostgreSQL
  .env
  .env.test
  .travis.yml
  README.md
  ansible/ansible.yml
  ansible/app.yml
  ansible/group_vars/app.yml
  config/packages/doctrine.yaml
Due: prettier --write

Travis: configure PGPORT
  .travis.yml
Due: prettier --write

Install PostgreSQL manually
  .travis.yml
Due: prettier --write

Prefer to use PostgreSQL 10 over 11
  .env
  .travis.yml
  README.md
  ansible/ansible.cfg
  ansible/ansible.yml
  ansible/app.yml
  ansible/group_vars/app.yml
  config/packages/doctrine.yaml
  src/Entity/User.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

Readme: add link to PhpPgAdmin
  README_APP.md
Due: prettier --write

Translate README files
  README.md
  README_APP.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

chore(travis): use Xenial dist
  .travis.yml
Due: prettier --write

chore(ci): install libgconf
  .travis.yml
Due: prettier --write

chore(ci): put packages under apt
  .travis.yml
Due: prettier --write

chore(ci): remove custom lines for postgre
  .travis.yml
Due: prettier --write

doc executable filese
  README.md
Due: prettier --write

chorer: prefer to use .phar files directly
  .gitignore
  .lintstagedrc
  .travis.yml
  bin/php-cs-fixer
  bin/security-checker
  composer.json
Due: prettier --write

typo
  README.md
Due: prettier --write

chore(php-cs-fixer): enable declare_strict_types rule
  .php_cs.dist
  src/Acme.php
  src/Controller/Api/SecurityController.php
  src/Controller/HomeController.php
  src/Controller/SecurityController.php
  src/Entity/User.php
  src/Kernel.php
  src/Repository/UserRepository.php
  src/Security/ApiKeyAuthenticator.php
  src/Security/FormAuthenticator.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress

Fix VM/Ansible: rename roles with a `-`
  .gitignore
  Vagrantfile
  ansible/ansible.yml
Due: prettier --write

chore(deps-dev): update lint-staged to 9.2
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

fix .gitignore for some .phar files
  .gitignore
  bin/.gitkeep
Due: none

chore(behat): replace behat Symfony2 extension
  .gitignore
  behat.yml.dist
  composer.json
  composer.lock
  config/bundles.php
  config/services_test.yaml
  symfony.lock
  tests/behat/bootstrap/bootstrap.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

change namespaces
  behat.yml.dist
  composer.json
  config/services_test.yaml
  tests/behat/bootstrap/ExtendedBehatchRestContext.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

.
  behat.yml.dist
  config/services_test.yaml
Due: prettier --write

chore(behat): replace behat Symfony2 extension (#63)
  .gitignore
  behat.yml.dist
  bin/.gitkeep
  composer.json
  composer.lock
  config/bundles.php
  config/services_test.yaml
  symfony.lock
  tests/behat/bootstrap/ExtendedBehatchRestContext.php
  tests/behat/bootstrap/bootstrap.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan analyse --level 7 --no-ansi --no-progress, prettier --write

chore: disable auto-validation on entities
  config/packages/validator.yaml
Due: prettier --write

chore: disable auto-validation on entities (#64)
  config/packages/validator.yaml
Due: prettier --write

feat: add Twig extensions (Date, Intl, Text)
  composer.json
  composer.lock
  config/packages/twig_extensions.yaml
  symfony.lock
  translations/date.fr.xlf
Due: prettier --write

feat: add Twig extensions (Date, Intl, Text) (#65)
  composer.json
  composer.lock
  config/packages/twig_extensions.yaml
  symfony.lock
  translations/date.fr.xlf
Due: prettier --write
