Repository Kocal/symfony-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.php": [
    "./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff",
    "./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress",
    "git add"
  ],
  "{assets,cypress}/**/*.{js,jsx,vue}": [
    "eslint --fix",
    "git add"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write",
    "git add"
  ]
}

doc
  README.md
Due: prettier --write

typo
  .github/workflows/ci.yml
Due: prettier --write

Add Rector (#498)
  .github/workflows/ci.yml
  README.md
  config/services.yaml
  phpstan.neon
  rector.php
  src/Acme.php
  src/EventSubscriber/JsonRequestDecoderEventSubscriber.php
  vendor-bin/rector/composer.json
  vendor-bin/rector/composer.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

composer update
  composer.lock
  vendor-bin/php-cs-fixer/composer.lock
  vendor-bin/phpspec/composer.lock
  vendor-bin/phpstan/composer.lock
  vendor-bin/phpunit/composer.lock
  vendor-bin/rector/composer.lock
Due: none

yarn upgrade
  yarn.lock
Due: none

chore: lint
  jest.config.js
Due: none

Mise à jour des dépendances (#505)
  composer.lock
  jest.config.js
  vendor-bin/php-cs-fixer/composer.lock
  vendor-bin/phpspec/composer.lock
  vendor-bin/phpstan/composer.lock
  vendor-bin/phpunit/composer.lock
  vendor-bin/rector/composer.lock
  yarn.lock
Due: none

Upgrade to Symfony 5.3
  composer.json
  composer.lock
Due: prettier --write

feat(symfony-5.3): use new authenticator manager
  config/packages/security.yaml
Due: prettier --write

feat(symfony-5.3): use PasswordHasher
  config/packages/security.yaml
  src/Entity/User.php
  src/Security/FormAuthenticator.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

fix(deps): install PHPStan and Rector in root composer.json
  .github/dependabot.yml
  composer.json
  composer.lock
  phpstan.neon
  symfony.lock
  vendor-bin/phpstan/composer.json
  vendor-bin/phpstan/composer.lock
  vendor-bin/rector/composer.json
  vendor-bin/rector/composer.lock
Due: prettier --write

feat(symfony-5.3): use PasswordHasher
  fixtures/Faker/Provider/PasswordProvider.php
  src/Security/FormAuthenticator.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

phpstan ...
  src/Security/FormAuthenticator.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

chore: rector
  config/packages/security.yaml
  rector.php
  src/Controller/Api/UserController.php
  src/Controller/Debug/DebugRequestController.php
  src/Controller/Debug/EmailController.php
  src/Controller/HomeController.php
  src/Controller/SecurityController.php
  src/Entity/User.php
  src/Security/FormAuthenticator.php
  src/Twig/EncoreExtension.php
  src/ValueObject/Routing/RouteName.php
  tests/object-manager.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

Upgrade to Symfony 5.3, playing with Rector (#506)
  .github/dependabot.yml
  composer.json
  composer.lock
  config/packages/security.yaml
  fixtures/Faker/Provider/PasswordProvider.php
  phpstan.neon
  rector.php
  src/Controller/Api/UserController.php
  src/Controller/Debug/DebugRequestController.php
  src/Controller/Debug/EmailController.php
  src/Controller/HomeController.php
  src/Controller/SecurityController.php
  src/Entity/User.php
  src/Security/FormAuthenticator.php
  src/Twig/EncoreExtension.php
  src/ValueObject/Routing/RouteName.php
  symfony.lock
  tests/object-manager.php
  vendor-bin/phpstan/composer.json
  vendor-bin/phpstan/composer.lock
  vendor-bin/rector/composer.json
  vendor-bin/rector/composer.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

chore: drop direct requirement on composer/package-versions-deprecated
  composer.json
  composer.lock
Due: prettier --write

chore: upgrade to Jest 27
  .github/workflows/ci.yml
  jest.config.js
  package.json
  tests/jest/app/components/AppButton.test.ts
  yarn.lock
Due: prettier --write

:)
  tests/jest/app/components/AppButton.test.ts
  tests/jest/app/components/__snapshots__/AppButton.test.ts.snap
Due: none

Upgrade dependencies (#514)
  .github/workflows/ci.yml
  composer.json
  composer.lock
  jest.config.js
  package.json
  tests/jest/app/components/__snapshots__/AppButton.test.ts.snap
  yarn.lock
Due: prettier --write

chore(recipe): sync doctrine/doctrine-migrations-bundle
  config/packages/doctrine_migrations.yaml
  symfony.lock
Due: prettier --write

chore(recipe): sync nelmio/cors-bundle
  .env
  symfony.lock
Due: none

chore(recipe): sync nyholm/psr7
  symfony.lock
Due: none

chore(recipe): sync php-translation/symfony-bundle
  config/packages/dev/php_translation.yaml
  symfony.lock
Due: prettier --write

chore(recipe): sync symfony/framework-bundle, use Symfony Runtime component
  .env
  README.md
  bin/console
  composer.json
  composer.lock
  config/packages/framework.yaml
  config/packages/test/framework.yaml
  config/routes/dev/framework.yaml
  config/routes/framework.yaml
  config/services.yaml
  public/index.php
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress, prettier --write

chore(recipe): sync symfony/console
  symfony.lock
Due: none

chore(recipe): sync symfony/debug-bundle
  config/bundles.php
  symfony.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

chore(recipe): sync symfony/monolog-bundle
  config/packages/prod/deprecations.yaml
  config/packages/prod/monolog.yaml
  symfony.lock
Due: prettier --write

chore(recipe): sync symfony/phpunit-bridge
  .env.test
  .gitignore
  bin/phpunit
  phpunit.xml.dist
  symfony.lock
Due: none

chore(recipe): sync symfony/security-bundle
  symfony.lock
Due: none

chore(recipe): sync symfony/translation
  symfony.lock
Due: none

chore(recipe): sync symfony/webpack-encore-bundle, add Symfony UX
  README.md
  assets/app/index.ts
  assets/app/stimulus.js
  assets/controllers.json
  config/packages/webpack_encore.yaml
  package.json
  symfony.lock
  templates/base.html.twig
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: re-ignore bin/phpunit
  .gitignore
  bin/phpunit
Due: none

feat(ci): auto-approve and auto-merge Dependabot PR
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-approve-and-auto-merge.yml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix(ci:auto-merge): merge with ---auto
  .github/workflows/ci.yml
Due: prettier --write

feat(dependabot): update github actions
  .github/dependabot.yml
Due: prettier --write

Update Symfony to 5.3.2
  composer.lock
  src/Entity/User.php
  vendor-bin/php-cs-fixer/composer.lock
  vendor-bin/phpspec/composer.lock
  vendor-bin/phpunit/composer.lock
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress

Update PHPStan
  composer.lock
Due: none

chore(deps): update to Symfony 5.3.3
  composer.lock
  vendor-bin/php-cs-fixer/composer.lock
  vendor-bin/phpspec/composer.lock
  vendor-bin/phpunit/composer.lock
Due: none

chore(deps): update PHPStan and Rector
  composer.lock
  rector.php
Due: ./vagrant-wrapper.sh php bin/php-cs-fixer.phar fix --config .php_cs.dist --diff, ./vagrant-wrapper.sh php bin/phpstan.phar analyse --level 7 --no-ansi --no-progress
